@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?le2pt3');
  src:  url('../fonts/icomoon.eot?le2pt3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?le2pt3') format('truetype'),
    url('../fonts/icomoon.woff?le2pt3') format('woff'),
    url('../fonts/icomoon.svg?le2pt3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-envelope:before {
  content: "\e900";
}
.icon-mail-envelope2:before {
  content: "\e901";
}
.icon-mail-envelope-open:before {
  content: "\e902";
}
.icon-mail-envelope-open2:before {
  content: "\e903";
}
.icon-mail-envelope-closed:before {
  content: "\e904";
}
.icon-mail-envelope-closed2:before {
  content: "\e905";
}
.icon-mail-envelope-open3:before {
  content: "\e906";
}
.icon-mail-envelope-open4:before {
  content: "\e907";
}
.icon-mail-envelope-open5:before {
  content: "\e908";
}
.icon-mail-envelope-open6:before {
  content: "\e909";
}
.icon-mail-envelope-closed3:before {
  content: "\e90a";
}
.icon-mail-envelope-closed4:before {
  content: "\e90b";
}
.icon-mail-envelope-open7:before {
  content: "\e90c";
}
.icon-mail-envelope-open8:before {
  content: "\e90d";
}
.icon-mail-error:before {
  content: "\e90e";
}
.icon-mail-error2:before {
  content: "\e90f";
}
.icon-mail-checked:before {
  content: "\e910";
}
.icon-mail-checked2:before {
  content: "\e911";
}
.icon-mail-cancel:before {
  content: "\e912";
}
.icon-mail-cancel2:before {
  content: "\e913";
}
.icon-mail--forbidden:before {
  content: "\e914";
}
.icon-mail--forbidden2:before {
  content: "\e915";
}
.icon-mail-add:before {
  content: "\e916";
}
.icon-mail-add2:before {
  content: "\e917";
}
.icon-mail-remove:before {
  content: "\e918";
}
.icon-mail-remove2:before {
  content: "\e919";
}
.icon-flag:before {
  content: "\e91a";
}
.icon-flag2:before {
  content: "\e91b";
}
.icon-flag3:before {
  content: "\e91c";
}
.icon-flag4:before {
  content: "\e91d";
}
.icon-flag5:before {
  content: "\e91e";
}
.icon-flag6:before {
  content: "\e91f";
}
.icon-flag7:before {
  content: "\e920";
}
.icon-flag8:before {
  content: "\e921";
}
.icon-bookmark:before {
  content: "\e922";
}
.icon-bookmark2:before {
  content: "\e923";
}
.icon-bookmark-add:before {
  content: "\e924";
}
.icon-bookmark-add2:before {
  content: "\e925";
}
.icon-bookmark-remove:before {
  content: "\e926";
}
.icon-bookmark-remove2:before {
  content: "\e927";
}
.icon-eye-hidden:before {
  content: "\e928";
}
.icon-eye-hidden2:before {
  content: "\e929";
}
.icon-eye:before {
  content: "\e92a";
}
.icon-eye2:before {
  content: "\e92b";
}
.icon-star:before {
  content: "\e92c";
}
.icon-star2:before {
  content: "\e92d";
}
.icon-key:before {
  content: "\e92e";
}
.icon-key2:before {
  content: "\e92f";
}
.icon-key3:before {
  content: "\e930";
}
.icon-key4:before {
  content: "\e931";
}
.icon-trash-can:before {
  content: "\e932";
}
.icon-trash-can2:before {
  content: "\e933";
}
.icon-trash-can3:before {
  content: "\e934";
}
.icon-trash-can4:before {
  content: "\e935";
}
.icon-information:before {
  content: "\e936";
}
.icon-information2:before {
  content: "\e937";
}
.icon-information3:before {
  content: "\e938";
}
.icon-information4:before {
  content: "\e939";
}
.icon-book:before {
  content: "\e93a";
}
.icon-book2:before {
  content: "\e93b";
}
.icon-book-bookmark:before {
  content: "\e93c";
}
.icon-book-bookmark2:before {
  content: "\e93d";
}
.icon-clipboard-edit:before {
  content: "\e93e";
}
.icon-clipboard-edit2:before {
  content: "\e93f";
}
.icon-clipboard-add:before {
  content: "\e940";
}
.icon-clipboard-add2:before {
  content: "\e941";
}
.icon-clipboard-remove:before {
  content: "\e942";
}
.icon-clipboard-remove2:before {
  content: "\e943";
}
.icon-clipboard:before {
  content: "\e944";
}
.icon-clipboard2:before {
  content: "\e945";
}
.icon-clipboard-download:before {
  content: "\e946";
}
.icon-clipboard-download2:before {
  content: "\e947";
}
.icon-clipboard-upload:before {
  content: "\e948";
}
.icon-clipboard-upload2:before {
  content: "\e949";
}
.icon-clipboard-checked:before {
  content: "\e94a";
}
.icon-clipboard-checked2:before {
  content: "\e94b";
}
.icon-clipboard-text:before {
  content: "\e94c";
}
.icon-clipboard-text2:before {
  content: "\e94d";
}
.icon-clipboard-list:before {
  content: "\e94e";
}
.icon-clipboard-list2:before {
  content: "\e94f";
}
.icon-note:before {
  content: "\e950";
}
.icon-note-search:before {
  content: "\ea25";
}
.icon-note2:before {
  content: "\e951";
}
.icon-note-add:before {
  content: "\e952";
}
.icon-note-add2:before {
  content: "\e953";
}
.icon-note-remove:before {
  content: "\e954";
}
.icon-note-remove2:before {
  content: "\e955";
}
.icon-note-text:before {
  content: "\e956";
}
.icon-note-text2:before {
  content: "\e957";
}
.icon-note-list:before {
  content: "\e958";
}
.icon-note-list2:before {
  content: "\e959";
}
.icon-note-checked:before {
  content: "\e95a";
}
.icon-note-checked2:before {
  content: "\e95b";
}
.icon-note-important:before {
  content: "\e95c";
}
.icon-note-important2:before {
  content: "\e95d";
}
.icon-notebook:before {
  content: "\e95e";
}
.icon-notebook2:before {
  content: "\e95f";
}
.icon-notebook3:before {
  content: "\e960";
}
.icon-notebook4:before {
  content: "\e961";
}
.icon-notebook5:before {
  content: "\e962";
}
.icon-notebook6:before {
  content: "\e963";
}
.icon-notebook7:before {
  content: "\e964";
}
.icon-notebook8:before {
  content: "\e965";
}
.icon-notebook-text:before {
  content: "\e966";
}
.icon-notebook-text2:before {
  content: "\e967";
}
.icon-notebook-list:before {
  content: "\e968";
}
.icon-notebook-list2:before {
  content: "\e969";
}
.icon-document:before {
  content: "\e96a";
}
.icon-document2:before {
  content: "\e96b";
}
.icon-document-text:before {
  content: "\e96c";
}
.icon-document-text2:before {
  content: "\e96d";
}
.icon-document-text3:before {
  content: "\e96e";
}
.icon-document-text4:before {
  content: "\e96f";
}
.icon-document-download:before {
  content: "\e970";
}
.icon-document-download2:before {
  content: "\e971";
}
.icon-document-upload:before {
  content: "\e972";
}
.icon-document-upload2:before {
  content: "\e973";
}
.icon-document-bookmark:before {
  content: "\e974";
}
.icon-document-bookmark2:before {
  content: "\e975";
}
.icon-document-diagrams:before {
  content: "\e976";
}
.icon-document-diagrams2:before {
  content: "\e977";
}
.icon-document-recording:before {
  content: "\e978";
}
.icon-document-recording2:before {
  content: "\e979";
}
.icon-document-table:before {
  content: "\e97a";
}
.icon-document-table2:before {
  content: "\e97b";
}
.icon-document-music:before {
  content: "\e97c";
}
.icon-document-music2:before {
  content: "\e97d";
}
.icon-document-movie:before {
  content: "\e97e";
}
.icon-document-movie2:before {
  content: "\e97f";
}
.icon-document-play:before {
  content: "\e980";
}
.icon-document-play2:before {
  content: "\e981";
}
.icon-document-graph:before {
  content: "\e982";
}
.icon-document-graph2:before {
  content: "\e983";
}
.icon-document-time:before {
  content: "\e984";
}
.icon-document-time2:before {
  content: "\e985";
}
.icon-document-text5:before {
  content: "\e986";
}
.icon-document-text6:before {
  content: "\e987";
}
.icon-document-code:before {
  content: "\e988";
}
.icon-document-code2:before {
  content: "\e989";
}
.icon-document-cloud:before {
  content: "\e98a";
}
.icon-document-cloud2:before {
  content: "\e98b";
}
.icon-documents:before {
  content: "\e98c";
}
.icon-documents2:before {
  content: "\e98d";
}
.icon-documents3:before {
  content: "\e98e";
}
.icon-documents4:before {
  content: "\e98f";
}
.icon-document-search:before {
  content: "\e990";
}
.icon-document-search2:before {
  content: "\e991";
}
.icon-document-star:before {
  content: "\e992";
}
.icon-document-star2:before {
  content: "\e993";
}
.icon-document-unlocked:before {
  content: "\e994";
}
.icon-document-unlocked2:before {
  content: "\e995";
}
.icon-document-locked:before {
  content: "\e996";
}
.icon-document-locked2:before {
  content: "\e997";
}
.icon-document-error:before {
  content: "\e998";
}
.icon-document-error2:before {
  content: "\e999";
}
.icon-document-cancel:before {
  content: "\e99a";
}
.icon-document-cancel2:before {
  content: "\e99b";
}
.icon-document-checked:before {
  content: "\e99c";
}
.icon-document-checked2:before {
  content: "\e99d";
}
.icon-document-add:before {
  content: "\e99e";
}
.icon-document-add2:before {
  content: "\e99f";
}
.icon-document-remove:before {
  content: "\e9a0";
}
.icon-document-remove2:before {
  content: "\e9a1";
}
.icon-document-forbidden:before {
  content: "\e9a2";
}
.icon-document-forbidden2:before {
  content: "\e9a3";
}
.icon-document-information:before {
  content: "\e9a4";
}
.icon-document-information2:before {
  content: "\e9a5";
}
.icon-folder-information:before {
  content: "\e9a6";
}
.icon-folder-information2:before {
  content: "\e9a7";
}
.icon-document-list:before {
  content: "\e9a8";
}
.icon-document-list2:before {
  content: "\e9a9";
}
.icon-document-font:before {
  content: "\e9aa";
}
.icon-document-font2:before {
  content: "\e9ab";
}
.icon-inbox:before {
  content: "\e9ac";
}
.icon-inbox2:before {
  content: "\e9ad";
}
.icon-inboxes:before {
  content: "\e9ae";
}
.icon-inboxes2:before {
  content: "\e9af";
}
.icon-inbox-document:before {
  content: "\e9b0";
}
.icon-inbox-document2:before {
  content: "\e9b1";
}
.icon-inbox-document-text:before {
  content: "\e9b2";
}
.icon-inbox-document-text2:before {
  content: "\e9b3";
}
.icon-inbox-download:before {
  content: "\e9b4";
}
.icon-inbox-download2:before {
  content: "\e9b5";
}
.icon-inbox-upload:before {
  content: "\e9b6";
}
.icon-inbox-upload2:before {
  content: "\e9b7";
}
.icon-folder:before {
  content: "\e9b8";
}
.icon-folder2:before {
  content: "\e9b9";
}
.icon-folder3:before {
  content: "\e9ba";
}
.icon-folder4:before {
  content: "\e9bb";
}
.icon-folders:before {
  content: "\e9bc";
}
.icon-folders2:before {
  content: "\e9bd";
}
.icon-folder-download:before {
  content: "\e9be";
}
.icon-folder-download2:before {
  content: "\e9bf";
}
.icon-folder-upload:before {
  content: "\e9c0";
}
.icon-folder-upload2:before {
  content: "\e9c1";
}
.icon-folder-unlocked:before {
  content: "\e9c2";
}
.icon-folder-unlocked2:before {
  content: "\e9c3";
}
.icon-folder-locked:before {
  content: "\e9c4";
}
.icon-folder-locked2:before {
  content: "\e9c5";
}
.icon-folder-search:before {
  content: "\e9c6";
}
.icon-folder-search2:before {
  content: "\e9c7";
}
.icon-folder-error:before {
  content: "\e9c8";
}
.icon-folder-error2:before {
  content: "\e9c9";
}
.icon-folder-cancel:before {
  content: "\e9ca";
}
.icon-folder-cancel2:before {
  content: "\e9cb";
}
.icon-folder-checked:before {
  content: "\e9cc";
}
.icon-folder-checked2:before {
  content: "\e9cd";
}
.icon-folder-add:before {
  content: "\e9ce";
}
.icon-folder-add2:before {
  content: "\e9cf";
}
.icon-folder-remove:before {
  content: "\e9d0";
}
.icon-folder-remove2:before {
  content: "\e9d1";
}
.icon-folder-forbidden:before {
  content: "\e9d2";
}
.icon-folder-forbidden2:before {
  content: "\e9d3";
}
.icon-folder-bookmark:before {
  content: "\e9d4";
}
.icon-folder-bookmark2:before {
  content: "\e9d5";
}
.icon-document-zip:before {
  content: "\e9d6";
}
.icon-document-zip2:before {
  content: "\e9d7";
}
.icon-zip:before {
  content: "\e9d8";
}
.icon-zip2:before {
  content: "\e9d9";
}
.icon-search:before {
  content: "\e9da";
}
.icon-search2:before {
  content: "\e9db";
}
.icon-search-plus:before {
  content: "\e9dc";
}
.icon-search-plus2:before {
  content: "\e9dd";
}
.icon-search-minus:before {
  content: "\e9de";
}
.icon-search-minus2:before {
  content: "\e9df";
}
.icon-lock:before {
  content: "\e9e0";
}
.icon-lock2:before {
  content: "\e9e1";
}
.icon-lock-open:before {
  content: "\e9e2";
}
.icon-lock-open2:before {
  content: "\e9e3";
}
.icon-lock-open3:before {
  content: "\e9e4";
}
.icon-lock-open4:before {
  content: "\e9e5";
}
.icon-lock-stripes:before {
  content: "\e9e6";
}
.icon-lock-stripes2:before {
  content: "\e9e7";
}
.icon-lock-rounded:before {
  content: "\e9e8";
}
.icon-lock-rounded2:before {
  content: "\e9e9";
}
.icon-lock-rounded-open:before {
  content: "\e9ea";
}
.icon-lock-rounded-open2:before {
  content: "\e9eb";
}
.icon-lock-rounded-open3:before {
  content: "\e9ec";
}
.icon-lock-rounded-open4:before {
  content: "\e9ed";
}
.icon-combination-lock:before {
  content: "\e9ee";
}
.icon-combination-lock2:before {
  content: "\e9ef";
}
.icon-printer-text:before {
  content: "\e9f0";
}
.icon-printer-text2:before {
  content: "\e9f1";
}
.icon-cloud-download:before {
  content: "\e9f2";
}
.icon-cloud-download2:before {
  content: "\e9f3";
}
.icon-inbox-filled:before {
  content: "\e9f4";
}
.icon-inbox-filled2:before {
  content: "\e9f5";
}
.icon-pen:before {
  content: "\e9f6";
}
.icon-pen2:before {
  content: "\e9f7";
}
.icon-pen-angled:before {
  content: "\e9f8";
}
.icon-pen-angled2:before {
  content: "\e9f9";
}
.icon-document-edit:before {
  content: "\e9fa";
}
.icon-document-edit2:before {
  content: "\e9fb";
}
.icon-document-certificate:before {
  content: "\e9fc";
}
.icon-document-certificate2:before {
  content: "\e9fd";
}
.icon-certificate:before {
  content: "\e9fe";
}
.icon-certificate2:before {
  content: "\e9ff";
}
.icon-package:before {
  content: "\ea00";
}
.icon-package2:before {
  content: "\ea01";
}
.icon-box:before {
  content: "\ea02";
}
.icon-box2:before {
  content: "\ea03";
}
.icon-box-filled:before {
  content: "\ea04";
}
.icon-box-filled2:before {
  content: "\ea05";
}
.icon-box3:before {
  content: "\ea06";
}
.icon-box4:before {
  content: "\ea07";
}
.icon-box5:before {
  content: "\ea08";
}
.icon-box6:before {
  content: "\ea09";
}
.icon-box-bookmark:before {
  content: "\ea0a";
}
.icon-box-bookmark2:before {
  content: "\ea0b";
}
.icon-tag-cord:before {
  content: "\ea0c";
}
.icon-tag-cord2:before {
  content: "\ea0d";
}
.icon-tag:before {
  content: "\ea0e";
}
.icon-tag2:before {
  content: "\ea0f";
}
.icon-tags:before {
  content: "\ea10";
}
.icon-tags2:before {
  content: "\ea11";
}
.icon-tag-add:before {
  content: "\ea12";
}
.icon-tag-add2:before {
  content: "\ea13";
}
.icon-tag-remove:before {
  content: "\ea14";
}
.icon-tag-remove2:before {
  content: "\ea15";
}
.icon-tag-checked:before {
  content: "\ea16";
}
.icon-tag-checked2:before {
  content: "\ea17";
}
.icon-tag-cancel:before {
  content: "\ea18";
}
.icon-tag-cancel2:before {
  content: "\ea19";
}
.icon-paperclip:before {
  content: "\ea1a";
}
.icon-paperclip2:before {
  content: "\ea1b";
}
.icon-stop-watch:before {
  content: "\ea1c";
}
.icon-stop-watch2:before {
  content: "\ea1d";
}
.icon-stop-watch3:before {
  content: "\ea1e";
}
.icon-stop-watch4:before {
  content: "\ea1f";
}
.icon-air-sock:before {
  content: "\ea20";
}
.icon-compass:before {
  content: "\ea21";
}
.icon-compass2:before {
  content: "\ea22";
}
.icon-compass3:before {
  content: "\ea23";
}
.icon-compass4:before {
  content: "\ea24";
}
