.hawcons {
	font-size: 21px;
}

.navbar .navbar-nav li > a {
	font-size: 16px;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-icon.hawcons {
	font-size: 26px;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-icon {
	font-size: 21px;
}

.no-margin-x {
	margin-left:0;
	margin-right:0;
}

.img__wrap {
	position: relative;
	vertical-align: middle;
	height: 100px;
	width: 100px;
  }
  
  .img__description {
	position: absolute;
	top: 35%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	visibility: hidden;
	opacity: 0;
  
	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
	visibility: visible;
	opacity: 1;
	cursor: pointer;
  }

  .img__wrap:hover .img__img {
	  opacity: 0.3;
  }

.center-y {
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
